PORT=3000
NODE_ENV=development
BACKUP_INTERVAL_MINUTES=15
BACKUP_RETENTION_DAYS=14
GMAIL_USER=khourig@vaniercollege.qc.ca
GMAIL_APP_PASSWORD=Nada1234567890!@#$
LOIC_EMAIL=boyerl@vaniercollege.qc.ca
DATABASE_URL=
